<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>

  <body cz-shortcut-listen="true" style="font-family: 'Roboto Condensed', sans-serif">
    <div style="background-color:#ffffff;line-height:25px;margin-bottom:30px;font-family:'Open Sans',sans-serif;margin:0px auto;min-width:200px;max-width:600px">

    <div style="background-color: #faf8f8; padding:20px;">

      <div align="center" style="margin-top: 10px">
          <img src="${imageURL}/d.png">
        </div>

       <div>
         <p style="color:#2c3335;font-size:25px;text-align: center;">
         Hey there,</p><p style="color:#2c3335;font-size:15px;text-align: center;"
         >Here's the link you requested to download the ${appType} app</p>
         <p style="color:#2c3335;font-size:15px;text-align: center;font-weight: bold;">Open this email on your ${appDeviceType} and tap on button below</p><br>

 <a style="border-radius:3px;color:white;font-size:15px;padding:11px 7px;max-width:200px;border:1px #1373b5 solid;text-align:center;
 text-decoration:none;width:200px;margin:-21px auto;display:block;background-color:#007ee6; margin-left: auto; margin-right: auto;" href="${bitLink}" target="_blank">Get the ${appType} App</a><br>

            <p style="color:#2c3335;font-size:15px;text-align: center;">
            Stay Healthy and Happy!!<br><a style="color: #0077b5;text-decoration:none;"href="www.healthcoco.com" target="_blank">www.healthcoco.com</a>
            </p>

        </div>
      </div>
    
    </body>
</html>